@page 
@model IndexModel

@{

    ViewData["Title"] = "Home Page ";
}

<div class="text-center">

<head>
   <h1 class="display-4">Student Profiling System</h1>
   <style>
    body{background-color:lightgreen;}
   </style>
</head>
    <!--This page shows first when you start up your web-->
      
<body>

</body>
</div>
