@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page ";
}
<head>
<!--Here we are using internal css to design our pages-->
<style>
/* here is the animation of the Button */
.button{box-shadow:2px 3px;background: linear-gradient(green,lightgreen,green);box-shadow:2px 2px solid black;transition-duration: 0.4s;}
.button:hover {
  background-color: #4CAF50; /* Green */
  color: green;
}
input[type=text]:focus {
  border: 3px solid #555;
}
body{background-color:lightgreen;}

input{  border-radius:10px;
        border:20px;
        height:30px;
        width:200px;
}

.Click-here {
  cursor: pointer;
   background-image: linear-gradient(190deg, #f83600 0%, #fee140 100%);
   color: #fff;
    width: 180px;
    text-align: center;
   font-size:16px;
   padding: 18px 0;
   margin: 0 auto;
   transition:background-image 3s ease-in-out;
}
.Click-here:hover{
  transition:background-image 3s ease-in-out;
  background-image: linear-gradient(90deg, #fee140 0%, #f83600 100%);
}
</style>
</head>
<div class="text-center">
<h1>New Student</h1>

 <!-- HERE IS WHERE YOU WILL INPUT THE NEW STUDENT-->


        <input type="text" name="fname" Placeholder="First Name" /><br><br>
        
        <input type="text" name="lname" Placeholder="Last Name" /><br><br>   
        
        <input type="text" name="section"Placeholder="Section" /><br><br>
        
        <input type="text"name="year" Placeholder="Year" /><br><br>
        
        <input type="text"   Placeholder="Address" /><br><br>

        <input type="submit"   class="button"/>
</div>

